@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    text-align: justify;
}

body {
    /* background-image: url('backgroundimage.jpg'); */
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    background-color: black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: rgb(122, 188, 208);
}




/* NavBar Start */





nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav img{
    width:250px;
    height:100px;
}
nav h2{
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #fcfcfc
}





/* Nav Bar End */





/* Index Background Image Start*/
.bgimage {
    height: 70vh;
    background: url('indeximage.jpg');
    background-size: cover;
    background-position: 30px;
    position: relative;
}

/* text css above hero image*/
.hero_title {
    display: block;
    font-size: 2.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}





/* Index Background Image End*/





/* Profile Start */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content {
    margin-top: 70px;
    text-align: center;

}

.flip-box {
    margin: -90px 50px 20px 20px;
    width: 300px;
    height: 200px;
    border: 5px solid #f1f1f1;
    border-radius: 25px;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
    background: linear-gradient(rgb(0 0 0), rgba(188, 195, 203, 0.679));
    border-radius: 20px;
    /* background-color: #bbb; */
    color: rgb(255, 255, 255);
}


/* Style the back side */
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}





/* Profile End */




/* Style inputs with type="text", select elements and textareas */
/* Add a background color and some padding around the form */

.container {
    margin: 0px 10px 0px 10px;
    height: 50%;
    border: solid;
}



.contact-us {
    /* border-right: solid; */
    width: 60%;
    height: 40%;
}

.contact-us h2 {
    text-align: center;
}

.contact-us div {
    border-radius: 5px;
    padding: 20px;
}

#name,
#email,
#message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.quick-links {
    margin: 0 0 0 65%;
}

.quick-links a {
    text-decoration: none;
    font-size: large;
}





/* Home Page End */




/* Project Page Start */
.project {
    display: flex;
    flex-flow: wrap;
    overflow-wrap: anywhere;
    align-items: center;
}

.project-row-1 {
    margin: 0px 50px 20px 20px;
    width: 300px;
    height: 200px;
    border: 5px solid #ffffff;
    border-radius: 25px;
    perspective: 1000px;
}

.project-row-1:hover{
    opacity: 0.8;
    color: #ffffff;
}





/* Project Page End */






/* Sentiment Analysis Page */
.project-page * {
    margin: 0px 0px 0px 1.1rem;
    display: flex;
    justify-items: center;
    /* flex-direction: column; */
    text-align: center;
}
.project-page{
    background-color: #383838;
}

.project-page img {
    margin-left: 350px;
    width: fit-content;
    height: 350px;
}
.project-page button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



/* Cartoon Converter Start */
.cartoon_converter {
    display: flex;
    margin: 0px 0px 0px 60px;
}

#cam_input #canvas_output {
    border-style: solid;
    width: 640px;
    height:480px ;
}

#canvas_output {
    border-style: solid;
    margin: 0px 0px 0px 40px;
}
.cartoonify_btns{
    display: flex;
}


#cartoon_btn_start, #cartoon_btn_stop,#cartoon_download {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 400px;
}

#cartoon_btn_start:hover,#cartoon_btn_stop:hover,#cartoon_download:hover{
    background-color: #ffffff;
    color: #4CAF50;
}

#cartoon_btn_stop{
    margin-left:40px;
}
#cartoon_download{
    margin-left:40px;
}

/* Cartoon Converter Ends*/



/* To do list start */

.todo-heading{
    text-align: center;
}
.todo-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    padding: 1rem;
}
.no-todo{
    margin-top: 5rem;
}
.todo-form-container form{
    display: flex;
    white-space-collapse: break-spaces;
}
.todo-form-input input,.todo-button{
    font-size: 1.4rem;
    border-radius: 1rem;
}
#desc{
    height: 5rem;
    padding: 1rem 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.todo-button{
    color: white;
    background: rgb(235, 119, 31);
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin-top: 1rem;
}

.todo-button:hover{
    color: rgb(235, 119, 31);
    background: white;
}
.todo-container{
    display: flex;
    place-content: center;
    padding: 1rem;
}
.todo-list{
    border-spacing: 10px;
    border-collapse: separate;
}
td{
    overflow-wrap: anywhere;
}
#todo-list-button{
    overflow-wrap: break-word;
    display: inline-flex;
    flex-flow: wrap;
}

/* To do list End */

/* Footer Start */



footer {
    padding: 10px 0 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

footer a {
    margin-left: 40px;
}
/* Footer End */






@media only screen and (max-width: 600px) {
    /* Basic Requirements like nav and footer */
    hr{
        width:29rem;
    }
    /* Set nav column wise */
    nav {
        flex-direction: column;
    }
    /* Remove Logo for mobile and display name */
    nav img{
        display: none;
    }
    nav h2{
        display: flex;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }

    /* Hero Slider Removing background and adjusting font size */

    .bgimage {
       background-image: none;
       margin: -60px -170px 0px 0px;
    }
    .hero_title {
        display: block;
        font-size: 2rem;
    }
    
    .hero_desc {
        font-size: 1.5rem;
    }

    /* Flip Boxes of Resume, Linkedin and Github set it to column wise */
    .profile {
        flex-direction: column;
    }
    
    .flip-box {
        margin: 0px -130px 20px 70px;
        width: 90%;
        height: 10rem;
    }

    /* Removing Quick links and adjust width and height of contact form. */
    .container{
        border: none;
        margin-bottom: 40px;
    }
    .contact-us{
        width: 100%;
        border: none;
        margin-left: 4rem;
    }
    .quick-links{
        margin: -300px 0 0 514px;
        display: none;
    }

    /* Set Project Page boxes in column wise. */
    .project{
        flex-direction: column;
    }
    .project-page *{
        width: 90%;
    }
    .project-page img{
        display: none;
    }
    /* Set Video and Canvas of Cartoonify project(boxes and buttons) to column and adjust there width and height. */
    .cartoon_converter{
        flex-direction: column;
        margin: 0px 30px 0px 30px;
    }
    #cam_input{
        width: 300px;
        height: 300px;
    }
    #canvas_output{
        margin-left: 0px;
        /* width: 300px; */
        /* height: 300px; */
    }
    .cartoonify_btns{
        flex-direction: column;
    }
    #cartoon_btn_start, #cartoon_btn_stop, #cartoon_download {
        margin: 2px 40px 2px 40px;
    }

    .todo-form-container, .todo-form-container form{
        flex-flow: column;

    }

}