{% extends "layout.html" %}

{% block body %}

<div class="project-page">
    <h1>Facial Expression Recognition using ImageNet Deep Learning Model</h1><br>
    <section class="description">
        <p>Implemented an advanced facial expression recognition system using deep learning techniques and the ImageNet dataset. 
            Conducted research on state-of-the-art deep learning models, preprocessed and augmented the dataset, and developed a highly 
            accurate deep learning model using convolutional neural networks (CNNs). Achieved superior performance compared to existing 
            methods in emotion classification. Evaluated model performance using various metrics and implemented real-time facial expression 
            recognition, integrating it with a webcam for instant emotion detection. Demonstrated expertise in deep learning frameworks 
            (TensorFlow, Keras), Python programming, image processing, and CNNs, showcasing the ability to deliver accurate results in cutting-edge 
            technology applications.</p>
    </section><br><br>

    <a href="https://huggingface.co/spaces/RahulSinghPundir/Facial_Expression" target="_blank"><button>Try it</button></a>
    <br><br>

    <section class="downloadfiles">
        <a href="https://github.com/RahulSinghPundir/Facial-Expression-Recognition/" target="_blank">Github Link</a>
    </section>
</div>



{%endblock%}