{% extends "layout.html" %}

{% block body %}

<div class="project-page">
    <h1>Mental Health Analysis</h1><br>
    <section class="description">
        <p>In this project, I developed a system using Natural Language Processing (NLP) techniques and machine learning
            algorithms to analyze comments related to mental health. The goal was to predict whether a comment is
            poisonous or not, aiming to identify harmful or toxic content that could impact individuals' mental
            well-being in online communities or social media platforms. I collected a dataset of mental health-related
            comments, preprocessed the data using NLP techniques, and built classification models using machine learning
            algorithms such as SVM, Naive Bayes, or Random Forests. The models were trained on labeled data and
            evaluated using cross-validation and metrics like accuracy, precision, recall, and F1-score. The system's
            potential lies in enhancing online safety and mental health support by enabling platforms to take prompt
            action against toxic comments. Through this project, I gained practical experience in NLP, machine learning,
            data preprocessing, and evaluation, while also deepening my understanding of the importance of mental health
            support in the digital space.</p>
    </section><br><br>

    <a href="https://huggingface.co/spaces/RahulSinghPundir/MentalHealth" target="_blank"><button>Try it</button></a>
    <br><br>

    <section class="downloadfiles">
        <a href="https://github.com/RahulSinghPundir/Mental_Health" target="_blank">Github Link</a>
    </section>
</div>



{%endblock%}