{% extends "layout.html" %}

{% block body %}




<div class="profile">
    <section class="flip-box">
        <a href="{{url_for('static',filename='RahulSinghPundir85Resume.pdf')}}" download>
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>Resume</h2>
                </div>
                <div class="flip-box-back">
                    <p>It includes a synopsis of my schooling, employment experience, talents, accomplishments, and
                        awards.</p>
                </div>
            </div>
        </a>
    </section>

    <section class="flip-box">
        <a href="https://www.linkedin.com/in/rahul-singh-pundir-034b25216/" target="_blank">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>Linkedin</h2>
                </div>
                <div class="flip-box-back">
                    <p>It includes a synopsis of my schooling, employment experience, talents, accomplishments, and
                        awards.</p>
                </div>
            </div>
        </a>
    </section>
    <section class="flip-box">
        <a href="https://github.com/RahulSinghPundir" target="_blank">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h2>Github</h2>
                </div>
                <div class="flip-box-back">
                    <p>It includes a synopsis of my schooling, employment experience, talents, accomplishments, and
                        awards.</p>
                </div>
            </div>
        </a>
    </section>
</div>






















{%endblock%}