{% extends "layout.html" %}

{% block body %}

<!--Section containg projects-->

<div class="project">
    <!--Cartoonify Project-->
    <section class="project-row">
        <a href="/Cartoonconverter">
            <div class="project-row-1" style="background: linear-gradient(315deg, #63d471 0%, #233329 74%);">
                <div >
                    <h2> <br> Cartoonify</h2>
                </div>
                <div >
                    <p> <br> Developed image-to-cartoon conversion project using OpenCV and JavaScript.</p>
                </div>
            </div>
        </a>
    </section>

    <!--Sentiment Analysis Project-->
    <section class="project-row">
        <a href="/Sentimentanalysis">
            <div class="project-row-1"  style="background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);">
                <div >
                    <h2> <br> Sentiment Analysis</h2>
                </div>
                <div >
                    <p> 
                        <br>The article discusses the importance of social media in daily life, including staying in contact with family,
                        accessing news and entertainment, and promoting businesses.</p>
                </div>
            </div>
        </a>
    </section>
    
    <!--Mental Health Analysis-->
    <section class="project-row" >
        <a href="/MentalHealth">
            <div class="project-row-1" style=" background:linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);">   
                <div >
                    <h2> <br> Mental Health Analysis</h2>
                </div>
                <div >
                    <p> 
                        <br>Developed a project using NLP and machine learning to analyze comments and predict their toxicity level, focusing on mental health analysis.</p>
                </div>
            </div>
        </a>
    </section>

    <!--To-Do List-->
    <section class="project-row" >
        <a href="/TodoList">
            <div class="project-row-1" style="background:linear-gradient(315deg, #a40606 0%, #d98324 74%)">
                <div >
                    <h2> <br> To-Do List</h2>
                </div>
                <div >
                    <p> 
                        <br>The todo application provides a user-friendly interface that allows users to create, manage, and track their tasks effectively.</p>
                </div>
            </div>
        </a>
    </section><br>

    <section class="project-row" >
        <a href="/FER">
            <div class="project-row-1" style="background:linear-gradient(147deg, #6f1b91 0%, #2d0b44 74%);">
                
                <div >
                    <h2> <br>Facial Emotion Recognition</h2>
                </div>
                <div >
                    <p> 
                        <br>Developed  facial expression recognition system, showcasing deep learning's potential in emotion analysis and real-time webcam 
                        deployment for human-computer interaction.</p>
                </div>
            </div>
        </a>
    </section>
</div>

{%endblock%}