{% extends "layout.html" %}

{% block body %}

<!--Section containg projects-->

<div class="project">
    <!--Cartoonify Project-->
    <section class="project-row">
        <a href="/Cartoonconverter">
            <div class="project-row-1" id="cartoonify">
                <div >
                    <h2> <br> Cartoonify</h2>
                </div>
                <div >
                    <p> <br> Developed image-to-cartoon conversion project using OpenCV and JavaScript.</p>
                </div>
            </div>
        </a>
    </section>

    <!--Sentiment Analysis Project-->
    <section class="project-row">
        <a href="/Sentimentanalysis">
            <div class="project-row-1" id="sentiment-analysis">
                <div >
                    <h2> <br> Sentiment Analysis</h2>
                </div>
                <div >
                    <p> 
                        <br>The article discusses the importance of social media in daily life, including staying in contact with family,
                        accessing news and entertainment, and promoting businesses.</p>
                </div>
            </div>
        </a>
    </section>
</div>
{%endblock%}